<header>
    <div class="d-flex justify-content-between align-items-center m-3">
        <div class="mt-2"> 
          <img src="logo.png" alt="Logo" class="img-fluid w-25" style="max-width: 1000px;" (click)="router.navigate(['/'])"> 
        </div>
        <div *ngIf="router.url !== '/login' && router.url !== '/register'" class="d-flex flex-column" id="loginInfo">
            <div *ngIf="firebaseService.user?.email !== null; else elseBlock" class="">
                <p>Welcome, {{ firebaseService.user?.email }}</p>
                <button class="btn btn-danger" (click)="logout()">Logout</button>
            </div>
            <ng-template #elseBlock>
                <button class="btn btn-primary" (click)="goLogin()">Login</button>
            </ng-template>
        </div>
      </div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="/" routerLinkActive="active" routerLinkActiveOptions="{ exact: true }">
          CoIoTIA
          <!-- <img src="logo.png" alt="CoIoTIA" width="50" height="24"> -->
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" routerLink="/" routerLinkActive="active" routerLinkActiveOptions="{ exact: true }">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="goMap()" routerLink="/map" routerLinkActive="active">Map</a>
                  </li>
                  <li class="nav-item" *ngIf="firebaseService.user !== null">
                    <a class="nav-link" (click)="goModels()" routerLink="/models" routerLinkActive="active">Models</a>
                  </li>
                  <li class="nav-item" *ngIf="firebaseService.user !== null">
                    <a class="nav-link" (click)="goDevices()" routerLink="/devices" routerLinkActive="active">Devices</a>
                  </li>
            </ul>
        </div>
    </div>    
</nav>

<router-outlet></router-outlet>